header{
    grid-column: 1/4;
    grid-row: 1/1;
    width: 100%;
    position: fixed;
    z-index:999;

  
  }
  .menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: fixed;
    z-index: 999;
    border-radius: 5px;
    
   
     
     
      
  }
  
  .menu::before {
      content: "☰";
      cursor: pointer;
      font-size: 40px;
      color: rgb(0, 0, 0);
      
  }
  
  .menu.open::before {
      content: "X";
      
  }
  .navigation {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  text-align: center;
 
  
  
  }
   a{
   display: none;
   text-decoration: none;
   text-align: center;
   color: rgb(2, 2, 2);
   margin: 20px;
   font-weight:900 ;
   font-size: 24px;
   
   
  }
  
  .navigation a:hover{
    
   background-color: rgba(124, 124, 124, 0.118);

  
  
  
    
    
  }
  .open a {
      display: block;
    
      
  }
  
  
  @media (min-width: 50.5rem) {

    header{
        grid-column: 1/4;
        grid-row: 1/1;
        width: 100%;
        position: relative;
      }

      .logo{
       display: none;
    
      }
        .navigation {
       
        flex-direction: row;
        flex-wrap: wrap;
        
        }
        a{
         display: inline-flex;
         text-decoration: none;
         text-align: center;
         color: black;
         margin-top: 40px;
         font-family: "Bebas Neue", sans-serif;
         font-size: 50px;
         
        }
        
                   
           #menu {
            display: none;
           }
         
        .navigation.hidden {
            top: -100px; 
        }
  }
  